{% extends "base_cn.html" %}
{% block title %}
注册界面
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center" style="margin-bottom: 15px;">欢&nbsp;迎&nbsp;加&nbsp;入</h1>
    <!-- 表单样式非常难看，用JS来重写样式（因为以我的水平没法给生成的表单加属性，只能用js -->
    <form class="form-horizontal" action="/account/signup/" method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class=" col-sm-5">
                <input type="text" name="username" id="username" class="form-control">
            </div>
            <div class="col-sm-5" style="height: 34px;line-height: 34px;">请输入你的用户名,用户名长度应在5位以上</div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-5">
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="col-sm-5" style="height: 34px;line-height: 34px;">请输入密码,密码长度应在8位以上</div>
        </div>
        <div class="form-group">
            <label for="password_repeat" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-5">
                <input type="password" name="password_repeat" id="password_repeat" class="form-control">
            </div>
            <div class="col-sm-5" style="height: 34px;line-height: 34px;">请确认密码,密码长度应在8位以上</div>
        </div>
        <div class="form-group">
            <label for="mobile" class="col-sm-2 control-label">手机号码</label>
            <div class="col-sm-5">
                <input type="text" name="mobile" id="moblie" class="form-control">
            </div>
            <div class="col-sm-5" style="height: 34px;line-height: 34px;">请输入你的手机号码</div>
        </div>
        <div class="form-group">
            <label for="mobile_identy" class="col-sm-2 control-label">短信验证</label>
            <div class="col-sm-3">
                <input type="text" name="mobile_identy" id="mobile_identy" class="form-control">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-info">发送短信验证</button>
            </div>
            <div class="col-sm-5" style="height: 34px;line-height: 34px;">简介性的字,可用AJAX进行动态刷新</div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">电子邮件</label>
            <div class="col-sm-5">
                <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="col-sm-5" style="height: 34px;line-height: 34px;">请输入你的电子邮箱</div>
        </div>
        <div class="form-group">
            <label for="nickname" class="col-sm-2 control-label">昵称</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="nickname" id="nickname">
            </div>
            <div class="col-sm-5" style="height: 34px;line-height: 34px;">输入昵称，这是你展示给其他用户的名称</div>
        </div>
        <div class="form-group">
            <label for="QQ" class="col-sm-2 control-label">QQ号码</label>
            <div class="col-sm-5">
                <input type="text" name="QQ" id="QQ" class="form-control">
            </div>
            <div class="col-sm-5" style="height: 34px;line-height: 34px;">留下你的QQ吧,让我可以联系到你</div>
        </div>
        <div class="form-group">
            <input type="submit">
        </div>
    </form>
</div>
<script src="/static/js/signUp.js"></script>
{% endblock %}